@media screen and (max-width: 600px) {
    #serachField {
        display: none;
    }
    .serachFieldclass {
        display: flex;
    }
    .continuebutton {
        max-width: 90%;
        min-width: 50%;
    }
    .serachFieldclass input,
    #serachField input {
        padding-left: 4px;
    }
    #pokeCard {
        width: 90%;
    }
}